/*Aqui está o estilo do nosso ''corpo do site'', nele estamos definindo só o tipo de texto e tirando a margem do site*/
body{
    margin: 0;
    font-family: 'Quattrocento', serif;
}

/*o nosso h1 serve unicamente para o título do site, nele definimos o tamanho do texto e a família da fonte bem como sua classificação para ajudar o browser caso ele não possua a fonte escolhida e precise escolher uma fonte default */
h1{
    font-size: 48pt;
    font-family: 'Playball', cursive;
}

h2, h3{
    font-size: 24pt;
    font-family: 'Quattrocento', serif;
}

p{
    font-size: 12pt;
    font-family: 'Quattrocento', serif;
    
}

    

nav{
    background-color: #dd496e;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}   
nav ul{
    list-style:none;
    display: inline-flex;
    /* .navbar indica a classe que gera a barra de navegação no topo do site */
}
nav ul li{
    font-family: 'Quattrocento', serif;
    /* .nav li diz respeito aos itens da nossa barra de navegação, onde cada um deles é um item de uma lista não ordenada <ul>.*/
}
nav ul li a{
    text-decoration: none;
    color: #ffffff;
    padding: 20px;
}
nav ul li a:hover{
    background-color: rgba(0,0,0,0.1) ;
}
.logo{
    float: left;
    width: 50px;
}

header{
    text-align: center;
    margin: auto;
    height: 450px;
    overflow: hidden;
}

header img{
    width: 70%;
}

content p{
    padding-top: 30px;
    margin: auto;
    width: 90%;
    text-align: justify;
    font-size: 1.2em;
}

.fotos{
    display: flex;
}

.card {
    margin: 10px;
    padding: 10px;
    width: 33%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

footer{
    margin-top: 100px;
    color: #ffffff;
    background-color: #2a2d34;
}
footer ul{
    list-style:none;
    display: inline-flex;
    /* .navbar indica a classe que gera a barra de navegação no topo do site */
}
footer ul li{
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}